* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: darkgray;
}

.hide {
    display: none;
}

.wrapper {
    background-color: darkslategrey;
    width: 90%;
    max-width: 40em;
    padding: 3.12em 5em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 2em;
    border-radius: 3em;
}

.timerDisplay {
    font-size: 4rem;
    color: aliceblue;
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

    .inputs input {
        font-size: 1em;
        border: 1px solid;
        color: lightslategrey;
        border-radius: 0.3em;
        padding: 0.4em 0.2em;
    }

#setAlarm {
    background-color: darkgray;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0.9em 1.8em;
    display: block;
    margin: 1.5em auto 0 auto;
    border-radius: 2em;
    color: black;
}